<!DOCTYPE html>

<html>

<head>

    <title>Hello Vue</title>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

</head>



<body>

    <div id="app">

        <h1>Hello Vue</h1>
        <label for="name">Please enter your name:</label>
        <input v-model="name" id="name">

        <p v-if="name">
            your name is {{name}}
        </p>

        </p>
        <!--<p v-text="message"></p>-->

        <!--<p>    
            {{thisClass}}
        </p>-->

        <!--<button v-on:click="addExclamation">Click me!</button>-->
    </div>


    <script>

        let app = new Vue({

            el: '#app',

            data: {

                name: ""

            },
            /*methods:{
                addExclamation: function(){
                    this.exlclamations++
                    if(this.exlclamations < 10){
                    this.message =this.message + '!'
                    }
                }
            },
            methods: {
            filters:{
                uppercase: function(string){
                    return string.toUpperCase()
                }
            }
            }*/

        })

    </script>



</body>

</html>